@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");
:root {
  /* Colors */

  /* Primary */

  --Cyan: hsl(179, 62%, 43%);
  --Bright-Yellow: hsl(71, 73%, 54%);

  /* Neutral */

  --Light-Gray: hsl(204, 43%, 93%);
  --Grayish-Blue: hsl(218, 22%, 67%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--Light-Gray);
  font-family: "Karla";
  font-size: 16px;
}
.main-container {
  max-width: 1440px;
  margin: 0 auto;
  height: 97vh;
  display: grid;
  place-items: center;
}
.page-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 385px;
}
.white,
.cyan,
.cyan-opacity {
  padding: 3rem;
}
.white {
  grid-column: 1/3;
  background-color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.cyan {
  background-color: var(--Cyan);
  color: white;
  border-bottom-left-radius: 10px;
}
.cyan-opacity {
  background-color: hsl(179, 62%, 43%, 0.7);
  border-bottom-right-radius: 10px;
}
.white-heading {
  color: var(--Cyan);
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 2rem;
}
.white-hedaing-two {
  color: var(--Bright-Yellow);
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 8px;
}
.paragraph {
  color: var(--Grayish-Blue);
  line-height: 1.6;
  font-weight: 400;
}
.cyan-heading {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 1rem;
}
.cyan-heading-two {
  color: var(--Light-Gray);
  display: flex;
  gap: 15px;
  align-items: center;
  margin-bottom: 8px;
}
.cyan-paragraph {
  margin-bottom: 2rem;
}
.price {
  color: white;
  font-size: 32px;
  font-weight: 700;
}
.cyan-button {
  width: 100%;
  padding-block: 1rem;
  font-size: 20px;
  background-color: var(--Bright-Yellow);
  border: none;
  border-radius: 6px;
  color: white;
  font-weight: 700;
}
.cyan-opacity-heading {
  font-size: 20px;
  font-weight: 700;
  color: white;
  margin-bottom: 1rem;
}
.cyan-opacity-ul li {
  list-style: none;
  color: var(--Light-Gray);
  margin-bottom: 6px;
}
@media (max-width: 450px) {
  .main-container {
    max-width: 375px;
    margin: 4rem auto;
    height: auto;
  }
  .page-content {
    margin: 0 0;
  }
  .cyan {
      grid-column: 1/3;
      border-bottom-left-radius: 0;
  }
  .cyan-opacity {
      grid-column: 1/3;
      border-bottom-left-radius: 10px;
  }
  .white,
  .cyan,
  .cyan-opacity {
    padding: 2rem;
  }
  .white-heading {
    font-size: 20px;
  }
  .white-hedaing-two {
    font-size: 18px;
  }
  .cyan-heading,
  .cyan-opacity-heading {
      font-size: 18px;
  }
  footer {
      margin-bottom: 3rem;
  }
}
